<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="parallelTest">
  <test name="IETests">
  <parameter name="browser" value="IE"/>
    <classes>
      <class name="GTACAdmin.WSL_LOGIN"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test name="FirefoxTests">
  <parameter name="browser" value="Firefox"/>
    <classes>
      <class name="GTACAdmin.WSL_LOGIN"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test name="chromeTests">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="GTACAdmin.WSL_LOGIN"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="simple">
  <classes>
  <class name="GTACAdmin.test2"/>
  <class name="GTACAdmin.testgetjenkins"/>
  </classes>
  </test>
</suite> <!-- Suite -->
